/* Import font family "Azeret Mono" */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Azeret Mono, Arial;
  width: 1440px;
  margin: 0 auto;
}

/* Common style */

.common-color {
  color: rgb(13, 19, 33);
}

/* Banner section start */
header {
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  margin-bottom: 74px;
  border-bottom: 2px dashed rgb(199, 198, 198);
}
header .banner {
  padding: 26px 221px 44px 221px;
}
header .banner-image {
  margin-bottom: 32px;
}
header .banner img {
  display: block;
  margin: 0 auto;
}


header .banner-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin-bottom: 24px;
}


header .banner-description {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 32px;
}


header .contract-btn {
  margin-bottom: 44px;
}
header .contract-btn button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  padding: 21px 24px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}

/* Main section start here */
main{
    padding: 0 150px;
}

main article {
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
